.advantages {
    padding-top: 60px;
    padding-bottom: 60px;
    @include desktop {
        padding-bottom: 94px;
        padding-top: 94px;
    }
}

.advantages .container {
    @include mobile {
        width: 480px;
    }
    @include tablet {
        width: 768px;
    }
    @include desktop {
        width: 1200px;
    }
}

.advantages__list {
    list-style: none;
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.advantages__item {
    width: 100%;
    @include tablet {
        width: calc((100% - 2 * 30px) / 2);
        margin: 15px;
    }
    @include desktop {
        width: calc((100% - 4 * 30px) / 4);
    }
    &:not(:last-child) {
        @media screen and (max-width:767px) {
            margin-bottom: 30px;
        }
    }
}

.advantages__icon {
    @extend %flex;
    margin-bottom: 30px;
    border-radius: 4px;
    width: 100%;
    height: 120px;
    background-color: $bg-color;
    
}

.advantages__title {
    margin-bottom: 10px;
    @include uppercase-title($title-color);
}

.advantages__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $text-color;
}