.header-content__logo {
    display: flex;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.logo__link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    color: $accent-color;
    text-decoration: none;
    @include desktop {
        font-size: 26px;
        line-height: 1.192;
    }
}

.logo__span--color-black {
    color: #000000;
}

.logo__span--color-white {
    color: $secondary-color;
}

.footer__logo {
    margin-bottom: 20px;
}