.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio__item {
    width: 370px;
}

.portfolio__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
}

.portfolio__link {
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $title-color;
}

.portfolio__photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.portfolio__text {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: $text-color;
}

.portfolio__content {
    padding: 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}