.social {
    margin-left: 70px;
    padding-top: 12px;
}

.social__list {
    display: flex;
    list-style: none;
    column-gap: 10px;
}

.social__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $secondary-color;
}

.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        background-color: $accent-color;
    }
}

.social__icon {
    fill: $secondary-color;
}