body {
    font-family: 'Roboto', sans-serif;
    color: $title-color;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}