.activity__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-color;
}

.activity__list {
    display: flex;
    list-style: none;
    gap: 30px;
}

.activity__item {
    position: relative;
    width: 370px;
}

.activity__photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.activity {
    padding-bottom: 94px;
}