.header {
    padding-top: 10px;
    padding-bottom: 10px;
    @include tablet {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.header-portfolio {
    border-bottom: 1px solid #ECECEC;
}

.header-content {
    display: flex;
    padding-right: 10px;
    position: relative;
    @include tablet {
        padding-right: 15px;
    }
}