.navigation {
    display: flex;
    align-items: center;
}

.navigation__link {
    display: block;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: $title-color;

    &:hover, &:focus {
        color: $accent-color;
    }
}

.current {
    color: $accent-color;
    position: relative;

    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $accent-color;
        left: 0;
        bottom: 0;
    }
}

.navigation__list {
    display: flex;
    margin-left: 93px;
    list-style: none;
}
.navigation__list .navigation__item+.navigation__item {
    margin-left: 50px;
}