.header {
    // border-bottom: 1px solid #ECECEC;
    // position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-content {
    display: flex;
    padding-right: 10px;
}

.menu-btn {
    display: inline-flex;
    padding: 0;
    margin-left: auto;
    background-color: transparent;
    border: none;

    & .header__icon-close {
        display: none;
    }
    &.is-open .header__icon-close {
        display: block;
    }
    &.is-open .header__icon-menu {
        display: none;
    }
}




// .menu-open {
//     margin-left: auto;
//     padding: 0;
//     background-color: transparent;
//     border: none;
// }
// .mob-menu__close {
//     padding: 0;
//     background-color: transparent;
//     border: none;
// }
// .mob-menu {
//     padding-top: 48px;
//     position: fixed;
//     top: 0;
//     width: 100vw;
//     height: 100vh;
//     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
//     // .mob-menu__close

//     &__close {}

//     // .mob-menu__nav

//     &__nav {}

//     // .mob-menu__current

//     &__current {}

//     // .mob-menu__soc-list

//     &__soc-list {}

//     // .mob-menu__soc-item

//     &__soc-item {}

//     // .mob-menu__soc-link

//     &__soc-link {}
// }

// .mob-mune {

//     // .mob-mune__nav-list

//     &__nav-list {}

//     // .mob-mune__nav-item

//     &__nav-item {}

//     // .mob-mune__nav-link

//     &__nav-link {}

//     // .mob-mune__connect

//     &__connect {}

//     // .mob-mune__connect-item

//     &__connect-item {}

//     // .mob-mune__connect-mail

//     &__connect-mail {}

//     // .mob-mune__connect-phone

//     &__connect-phone {}
// }