textarea {
    resize: none;
}

.form__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    label {
        margin-bottom: 4px;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.166;
        letter-spacing: 0.01em;
        color: $text-color;
        }
}

.form__title {
    height: 23px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}

.input-wrap {
    position: relative;
}

.input-wrap input {
    width: 100%;
    height: 40px;
    padding-left: 40px;
    outline: transparent;
    cursor: pointer;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border-color: $accent-color;
    }
}

.input-wrap__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        fill: $accent-color;
    }

    .input-wrap__input:focus+ & {
        fill: $accent-color;
    }
}

.form__field textarea {
    padding: 12px 16px;
    cursor: pointer;

    &::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.166;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}

.comment__textarea {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border-color: $accent-color;
    }
}

.comment {
    margin-bottom: 20px;
}

.policy__text {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.policy__text span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    width: 16px;
    height: 15px;
    border: 2px solid $title-color;
    border-radius: 2px;

    .policy__check:checked+ & {
        background-color: $accent-color;
        border: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .policy__check:focus+ & {
        border-color: $accent-color;
    }
}

.policy__icon {
    fill: transparent;

    .policy__check:checked+.policy__text & {
        fill: $secondary-color;
    }
}

.policy {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;

    label {
        height: 24px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: $text-color;
        }
}

.policy__link {
    color: $accent-color;
}

.form__btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: $secondary-color;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;
}