@mixin uppercase-title($color: $secondary-color) {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color;
}
@mixin mobile {
    @media screen and(min-width:480px) {
        @content;
    }
}
@mixin tablet {
    @media screen and(min-width:768px) {
        @content;
    }
}
@mixin desktop {
    @media screen and(min-width:1200px) {
        @content;
    }
}
@mixin retina {
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        @content;
    }
}